* {
  margin: 0;
  padding: 0;
}
:root {
  --bg: #0d1017;
  --headline: #7000df;
  --btn: #892ee5;
  --btn-text: #bac3fd;
  --nav: #d0e8f2;
  --color: #e2e8f0;
  --secondary: #8998ac;
  --income: #bdefc7;
  --income-text: #045762;
  --expense: #fb7777;
  --expense-text: #e40017;
  --balance: #7868e6;
  --balance-text: #eff8ff;
}

body {
  background-color: var(--bg);
  color: var(--btn-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  height: 46px;
  color: white !important;
}
.modal-body .container .row .col input {
  height: 46px;
}
.nav {
  background-color: var(--nav);
}
.navigation {
  margin: 10px auto;
}
.navigation ul li a {
  border: none !important;
  display: flex;
  text-decoration: none;
}
.navigation ul li:hover {
  background: none;
}
.navigation img {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33px;
  margin: auto 7px;
}
.navigation ul li span {
  margin-top: 4px;
  font-size: 18px;
}

.form-select {
  background-image: none;
}
.fixed {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}
.mastercard {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  border-radius: 13px;
  height: 220px;
  width: 400px;
  box-shadow: -1px 6px 18px -9px rgba(0, 0, 0, 0.9);
}
.visa {
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 13px;
  height: 220px;
  width: 400px;
  box-shadow: -1px 6px 18px -9px rgba(0, 0, 0, 0.9);
}
.rupay {
  background: linear-gradient(to right, #232526, #414345);
  border-radius: 13px;
  height: 220px;
  width: 400px;
  color: black !important;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}
.tip {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .navigation {
    background-color: var(--nav);
    width: 100%;
    position: fixed;
    bottom: 3px;
    margin: auto;
    z-index: 100;
  }
  .navigation img {
    width: 34px;
    margin: auto 7px;
  }
  .navigation ul li span {
    display: none;
  }
  .tip {
    position: fixed;
    bottom: 80px;
    margin: auto;
    width: 100%;
  }
}
@media print {
  .add-new-button,
  .print-btn,
  .main-heading,
  .navigation {
    display: none;
  }
}
